{{#createDetailsElement
    'report-collection'
    ''
    isOpenByDefault
    screenshotArray.length
    collectionType
}}
  <summary class="report-collection__heading">
    {{#createCheckboxElement
        'report-collection__checkbox'
        'report-collection__checkbox--hidden'
        showApprovalControls
        screenshotArray.length
        collectionType
    }}{{/createCheckboxElement}}
    {{screenshotArray.length}} {{heading}}
    {{#createApprovalStatusElement
        'report-review-status report-review-status--collection'
        'report-review-status--hidden'
        showApprovalControls
        screenshotArray.length
        collectionType
    }}{{/createApprovalStatusElement}}
  </summary>
  <div class="report-collection__content">
    {{#if screenshotArray.length}}
      {{#forEachTestPage screenshotPageMap}}
        {{#createDetailsElement
            'report-html-file'
            ''
            true
            ../collectionType
            html_file_path
        }}
          <summary class="report-html-file__heading">
            {{#createCheckboxElement
                'report-html-file__checkbox'
                'report-html-file__checkbox--hidden'
                screenshot_array.length
                ../showApprovalControls
                ../collectionType
                html_file_path
            }}{{/createCheckboxElement}}
            {{screenshot_array.length}} in
            {{html_file_path}}
            {{getHtmlFileLinks}}
            {{#createApprovalStatusElement
                'report-review-status report-review-status--html-file'
                'report-review-status--hidden'
                screenshot_array.length
                ../showApprovalControls
                ../collectionType
                html_file_path
            }}{{/createApprovalStatusElement}}
          </summary>
          <div class="report-html-file__content">
            {{#each screenshot_array}}
              {{#createDetailsElement
                  'report-user-agent'
                  ''
                  true
                  ../../collectionType
                  ../html_file_path
                  user_agent.alias
              }}
                <summary class="report-user-agent__heading">
                  {{#createCheckboxElement
                      'report-user-agent__checkbox'
                      'report-user-agent__checkbox--hidden'
                      1
                      ../../showApprovalControls
                      ../../collectionType
                      ../html_file_path
                      user_agent.alias
                  }}{{/createCheckboxElement}}
                  <img src="{{user_agent.icon_url}}" class="report-user-agent__icon">
                  {{user_agent.alias}}
                  {{#createApprovalStatusElement
                      'report-review-status report-review-status--user-agent'
                      'report-review-status--hidden'
                      1
                      ../../showApprovalControls
                      ../../collectionType
                      ../html_file_path
                      user_agent.alias
                  }}{{/createApprovalStatusElement}}
                </summary>
                <div class="report-user-agent__content">
                  <div class="report-user-agent__image-cell">
                    Golden:
                    {{> image expected_image_file}}
                  </div>
                  <div class="report-user-agent__image-cell">
                    Diff:
                    {{#if diff_image_result.diff_pixel_count}}
                      {{diff_image_result.diff_pixel_count}} pixels
                      ({{diff_image_result.diff_pixel_percentage}}%)
                    {{/if}}
                    {{> image diff_image_file}}
                  </div>
                  <div class="report-user-agent__image-cell">
                    Snapshot:
                    {{> image actual_image_file}}
                  </div>
                </div>
              {{/createDetailsElement}}
            {{/each}}
          </div>
        {{/createDetailsElement}}
      {{/forEachTestPage}}
    {{else}}
      <div class="report-congrats">Woohoo! 🎉</div>
    {{/if}}
  </div>
{{/createDetailsElement}}
