<details class="report-metadata" open>
  <summary class="report-metadata__heading">Metadata</summary>
  <div class="report-metadata__content">
    <table class="report-metadata__table">
      <tbody>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Start Time:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <time id="report-metadata__start-time" datetime="{{meta.start_time_iso_utc}}">
              {{meta.start_time_iso_utc}}
            </time>
            <span id="report-metadata__time-since-start"></span>
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Test Duration:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <span title="{{msToHumanShort meta.duration_ms 4}}">{{msToHumanShort meta.duration_ms 2}}</span>
          </td>
        </tr>
        <tr class="report-metadata__row--top-divider">
          <th class="report-metadata__cell report-metadata__cell--key">URLs:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{getFilteredUrlCountMarkup screenshots}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Browsers:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{getFilteredBrowserIconsMarkup user_agents}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Screenshots:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{getFilteredScreenshotCountMarkup screenshots}}
          </td>
        </tr>
        <tr class="report-metadata__row--top-divider">
          <th class="report-metadata__cell report-metadata__cell--key">Golden:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{getDiffBaseMarkup meta.golden_diff_base meta}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Snapshot:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{getDiffBaseMarkup meta.snapshot_diff_base meta}}
            {{getLocalChangesMarkup meta.git_status}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">MDC Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <a href="https://github.com/material-components/material-components-web/releases/tag/v{{meta.mdc_version.version_string}}">{{meta.mdc_version.version_string}}</a>
          </td>
        </tr>
        <tr class="report-metadata__row--top-divider">
          <th class="report-metadata__cell report-metadata__cell--key">Author Name:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{meta.user.name}} &lt;{{meta.user.email}}&gt;
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Author OS:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <img src="{{meta.host_os_icon_url}}" width="16" height="16" class="report-user-agent__icon">
            {{meta.host_os_name}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Node Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.node_version.version_string}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">NPM Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.npm_version.version_string}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">CLI Invocation:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.cli_invocation}}</td>
        </tr>
        <tr class="report-metadata__row--top-divider">
          <th class="report-metadata__cell report-metadata__cell--key">Raw Report Data:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <a href="{{meta.report_json_file.public_url}}">report.json</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</details>
