<details class="report-metadata" open>
  <summary class="report-metadata__heading">Metadata</summary>
  <div class="report-metadata__content">
    <table class="report-metadata__table">
      <tbody>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Start Time:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.start_time_iso_utc}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Test Duration:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{msToHuman meta.duration_ms}}</td>
        </tr>
        <!--
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Test Cases:</th>
          <td class="report-metadata__cell report-metadata__cell--val">${testPageCountMarkup}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Browsers:</th>
          <td class="report-metadata__cell report-metadata__cell--val">${browserCountMarkup}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Screenshots:</th>
          <td class="report-metadata__cell report-metadata__cell--val">${screenshotCountMarkup}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Golden:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            ${await this.getMetadataCommitLinkMarkup_(goldenDiffBase)}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Snapshot Base:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            ${await this.getMetadataCommitLinkMarkup_(snapshotDiffBase)}
            ${await this.getMetadataLocalChangesMarkup_(snapshotDiffBase)}
          </td>
        </tr>
        -->
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">User:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{meta.user.name}} &lt;{{meta.user.email}}&gt;
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">MDC Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            {{meta.mdc_version.version_string}}
            {{#if meta.mdc_version.commit_offset}}
              + {{meta.mdc_version.commit_offset}} commits
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Node Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.node_version.version_string}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">NPM Version:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.npm_version.version_string}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">CLI Invocation:</th>
          <td class="report-metadata__cell report-metadata__cell--val">{{meta.cli_invocation}}</td>
        </tr>
        <tr>
          <th class="report-metadata__cell report-metadata__cell--key">Raw Report Data:</th>
          <td class="report-metadata__cell report-metadata__cell--val">
            <a href="{{meta.report_json_file.public_url}}">report.json</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</details>
